

{% extends 'base.html' %}

{% block content %}

<section class="pricing1">
   
    <p></p>
    <p></p>
</section>
<section class="pricing">
    <h2>Врач уролог </h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Первичный прием</td>
                
                <td>750с</td>
            </tr>
            <tr>
                <td>консультативный прием</td>
                
                <td>500с</td>
            </tr>
            <tr>
                <td>Назначения лечения </td>
                
                <td>650с</td>
            </tr>
         
        
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2>Врач гинеколог </h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Первичный прием</td>
                
                <td>850с</td>
            </tr>
            <tr>
                <td>консультативный прием</td>
                
                <td>600с</td>
            </tr>
            <tr>
                <td>Назначения лечения </td>
                
                <td>800с</td>
            </tr>
            <tr>
                <td>Выдача справок, обмен. карт и больничных листов </td>
                
                <td>500с</td>
            </tr>
            <tr>
                <td><b> Прием беременных: </b></td>
                
                
            </tr>
            <tr>
                <td>Постановка на учет</td>
                
                <td>1600с</td>
            </tr>
            <tr>
                <td>Постановка на учет 14-19 недель</td>
                
                <td>2000с</td>
            </tr>
            <tr>
                <td>Постановка на учет 20 недель</td>
                
                <td>2500с</td>
            </tr>
            <tr>
                <td>Повторный прием (по беременности)</td>
                
                <td>600с</td>
            </tr>
            <tr>
                <td>Консультация гастроэнтерелога </td>
                
                <td>750с</td>
            </tr>
            <tr>
                <td>Консультация маммолога - онколога</td>
                
                <td>750/500с</td>
            </tr>
            <tr>
                <td><b>Консультация+УЗИ маммолога-онколога</b></td>
                
                <td>1300с</td>
            </tr>
            <tr>
                <td>Консультация оталоринголога (ЛОР)</td>
                
                <td>850/650с</td>
            </tr>
            <tr>
                <td>Консультация терапевта</td>
                
                <td>850/650с</td>
            </tr>
            <tr>
                <td>Консультация неврапотолога</td>
                
                <td>850/650с</td>
            </tr>
            <tr>
                <td>Консультация хирурга</td>
                
                <td>750с</td>
            </tr>
        
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2>Врач педиатр </h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Взятие на учет</td>
                
                <td>1200с</td>
            </tr>
            <tr>
                <td>Первичный прием</td>
                
                <td>750/500с</td>
            </tr>
            <tr>
                <td><b>Вызов на дом0</b> </td>
                
                <td>1500с</td>
            </tr>
         
        
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2>Гинекологические процедуры, манипуляции </h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ваночки</td>
                
                <td>400с</td>
            </tr>
            <tr>
                <td>Введение, удаление спирали</td>
                
                <td>1200/700с</td>
            </tr>
            <tr>
                <td>Сложное удаление спирали </td>
                
                <td>4000с</td>
            </tr>
            <tr>
                <td>Криодеструкция </td>
                
                <td>5000с</td>
            </tr>
            <tr>
                <td>РВ Коагуляция шейки матки </td>
                
                <td>4500с</td>
            </tr>
            <tr>
                <td>Экзиция </td>
                
                <td>6500с</td>
            </tr>
            <tr>
                <td>Инсеминация </td>
                
                <td>4500с</td>
            </tr>
            <tr>
                <td>Удаление паппилом (аппаратом ФОТЕК) </td>
                
                <td>3000с</td>
            </tr>
            <tr>
                <td>Либиопластика </td>
                
                <td>10000с</td>
            </tr>
            <tr>
                <td>Пластика влагалища </td>
                
                <td>10000с</td>
            </tr>
            <tr>
                <td>Раздельное диагн.выскабл.ц.к и матки </td>
                
                <td>1200+/6000с</td>
            </tr>
            <tr>
                <td>Удаление кисты бортолиниевой железы до 2см </td>
                
                <td>10000с</td>
            </tr>
            <tr>
                <td>Коррекиция осл.послерод.разрывов промежности </td>
                
                <td>10000с</td>
            </tr>
            <tr>
                <td>Вскрытие бартолиниевой железы</td>
                
                <td>3000с</td>
            </tr>
            <tr>
                <td>Диагностичиское выскабливание полости матки</td>
                
                <td>6000с</td>
            </tr>
            <tr>
                <td>Бужирование цервикального канала</td>
                
                <td>4000с</td>
            </tr>
            <tr>
                <td>Плазмолифтинг на интим. Зону (наружно)</td>
                
                <td>5000с+стоим.пробирок</td>
            </tr>
            <tr>
                <td>РВ Коагуляция ретенционных кист на ш.м.(сосудов)</td>
                
                <td>3000с</td>
            </tr>
            <tr>
                <td>Гименопластика</td>
                
                <td>8000с</td>
            </tr>
            <tr>
                <td>Плазмолифтинг - лечение хр. эндрометрита</td>
                
                <td>6000с+стоим пробирок</td>
            </tr>
            <tr>
                <td>Удаление липом. подкожных</td>
                
                <td>3000-6000с</td>
            </tr>
            <tr>
                <td>Аспират из полости матки+гистология</td>
                
                <td>1000с</td>
            </tr>
         
        
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2>Массаж</h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
                <th>Цена взрослый </th>
                <th>Цена Дети</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Общий массаж</td>
                <td>1600с</td>
                <td>Дети до 1,5 года 600с</td>
            </tr>
            <tr>
                <td>Спина</td>
                <td>900с</td>
                <td>стоймость массажа детей 
                   <p> старше 2-х лет только после консультации врача</p> </td>
            </tr>
            <tr>
                <td>Холочка (шея)</td>
                <td>600с</td>
                <td>стоймость массажа детей старше 2-х лет только после консультации врача</td>
            </tr>
            <tr>
                <td>Ноги (от колен до стоп )</td>
                <td>700с</td>
                <td>стоймость массажа детей старше 2-х лет только после консультации врача</td>
            </tr>
            <tr>
                <td>Баночный массаж (добавочно)</td>
                <td>300с</td>
                <td>стоймость массажа детей старше 2-х лет только после консультации врача</td>
            </tr>
            <tr>
                <td>миостимулятор</td>
                <td>800с</td>
                <td>стоймость массажа детей старше 2-х лет только после консультации врача</td>
            </tr>
            <tr>
                <td>миостимулятор (спина)</td>
                <td>500с</td>
                <td>стоймость массажа детей старше 2-х лет только после консультации врача</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="pricing">
    <h2>Диагностические исследования</h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Взятие мазка из уретры мужчин</td>
                
                <td>120с</td>
            </tr>
            <tr>
                <td>Взятие сока простаты</td>
               
                <td>220с</td>
            </tr>
            <tr>
                <td>Взятие мазка уретра - влагалище - шейка</td>
               
                <td>120с</td>
            </tr>
            <tr>
                <td>взятие шейки матки</td>
               
                <td>1000с</td>
            </tr>
            <tr>
                <td><b>КГТ-плода</b></td>
               
                <td>700/1000с</td>
            </tr>
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2>Иследование флоры бактериоскопически</h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Иследование буккального мазка (взрос.)</td>
                
                <td>350с</td>
            </tr>
            <tr>
                <td>Мазок из уретры, секрет простаты, эйякулят</td>
               
                <td>220с</td>
            </tr>
            <tr>
                <td>Взятие мазка уретра - влагалище - шейка</td>
               
                <td>350с</td>
            </tr>
            <tr>
                <td>Мазок - уретра - влагалище - шейка</td>
                <td>350с</td>
            </tr>
            <tr>
                <td>Онкоцитограмма</td>
                <td>300с</td>
            </tr>
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2>Ультразвуковые исследование (комплексы со скидкой)</h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Печень, желчный пузырь, поджелудочная железа</td>
                
                <td>880с</td>
            </tr>
            <tr>
                <td>Печень, желчный пузырь, поджелудочная железа, почки</td>
               
                <td>1400с</td>
            </tr>
            <tr>
                <td>Малый таз, почки, мочевой пузырь</td>
               
                <td>1350с</td>
            </tr>
            <tr>
                <td>Малый таз, молочная железа, щитовидная железа</td>
                <td>1700с</td>
            </tr>
            <tr>
                <td>Почки, мочевой пузырь, простата, мошонка</td>
                <td>1700с</td>
            </tr>
            <tr>
                <td>Почки, мочевой пузырь</td>
                <td>800с</td>
            </tr>
            <tr>
                <td>Мочевой пузырь, простата</td>
                <td>1000с</td>
            </tr>
            <tr>
                <td>Малый таз , мочевой пузырь</td>
                <td>800с</td>
            </tr>
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2> Ультразвуковые исследование (комплексы со скидкой все органы)</h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Женщинам:</b> печень, желчный пузырь, поджелудочная железа,
                 селезенка, почки, мочевой пузырь, щитовидная железа, малый таз, молочная железа</td>
                
                <td>3500с</td>
            </tr>
            <tr>
                <td><b>Мужчинам:</b> печень, желчный пузырь, поджелудочная железа,
                 селезенка, почки, мочевой пузырь, щитовидная железа, простата, мошонка</td>
                
                <td>350с</td>
            </tr>
          
          
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2> Ультразвуковое исследование </h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>УЗИ (контроль) в течении 14 дней</td>
                
                <td>350с</td>
            </tr>
            <tr>
                <td>печени и желсного пузыря/с нагрузкой</td>
                
                <td>600с</td>
            </tr>
            <tr>
                <td>Селезенки</td>
                
                <td>350с</td>
            </tr>
          
            <tr>
                <td>Поджелудочная железа</td>
                
                <td>350с</td>
            </tr>
            <tr>
                <td>Почек/надпочечников</td>
                
                <td>580/460с</td>
            </tr>
            <tr>
                <td>Мочевого пузыря</td>
                
                <td>350с</td>
            </tr>
            <tr>
                <td>Органов малого таза</td>
                
                <td>600с</td>
            </tr>
              <tr>
                <td>Фолликулометрия</td>
                
                <td>350с</td>
            </tr>
            <tr>
                <td>Щитовидной железы</td>
                
                <td>480с</td>
            </tr>
            <tr>
                <td>Молочной железы + л/у</td>
                
                <td>870с</td>
            </tr>
            <tr>
                <td>Допплнр мошонки</td>
                
                <td>600с</td>
            </tr>
            <tr>
                <td>Простаты/мошонки/полового члена </td>
                
                <td>580/580/580</td>
            </tr>
            <tr>
                <td>Л/узлов ( группа/генер)</td>
                
                <td>350/600с</td>
            </tr>
            <tr>
                <td>УЗИ мягких тканей</td>
                
                <td>370с</td>
            </tr>
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2> Одноплодная беременность: </h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Диагностика беременности</td>
                
                <td>580с</td>
            </tr>
            <tr>
                <td>Промежуточное УЗИ 1 триместра</td>
                
                <td>580с</td>
            </tr>
            <tr>
                <td>Промежуточное УЗИ 2,3 триместра</td>
                
                <td>900с</td>
            </tr>
          
            <tr>
                <td>1 скрининг/ 2 скрининг/ 3 скрининг (доплер)</td>
                
                <td>850/950/1050с</td>
            </tr>
            
        
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2> Двойня: </h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Диагностика беременности</td>
                
                <td>800с</td>
            </tr>
            <tr>
                <td>Промежуточное УЗИ 1 триместра</td>
                
                <td>800с</td>
            </tr>
            <tr>
                <td>Промежуточное УЗИ 2,3 триместра</td>
                
                <td>1200с</td>
            </tr>
          
            <tr>
                <td>1 скрининг/ 2 скрининг/ 3 скрининг (доплер)</td>
                
                <td>1400/1700/2200с</td>
            </tr>
            
        
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2> Тройня: </h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Диагностика беременности</td>
                
                <td>900с</td>
            </tr>
            <tr>
                <td>Промежуточное УЗИ 1 триместра</td>
                
                <td>1500с</td>
            </tr>
            <tr>
                <td>Промежуточное УЗИ 2,3 триместра</td>
                
                <td>2000с</td>
            </tr>
          
            <tr>
                <td>1 скрининг/ 2 скрининг/ 3 скрининг (доплер)</td>
                
                <td>1800/2000/2800с</td>
            </tr>
            <tr>
                <td>Доплер</td>
                
                <td>2800с</td>
            </tr>
            
        
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2> Тройня: </h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Диагностика беременности</td>
                
                <td>900с</td>
            </tr>
            <tr>
                <td>Промежуточное УЗИ 1 триместра</td>
                
                <td>1500с</td>
            </tr>
            <tr>
                <td>Промежуточное УЗИ 2,3 триместра</td>
                
                <td>2000с</td>
            </tr>
          
            <tr>
                <td>1 скрининг/ 2 скрининг/ 3 скрининг (доплер)</td>
                
                <td>1800/2000/2800с</td>
            </tr>
            <tr>
                <td>Доплер</td>
                
                <td>2800с</td>
            </tr>
            
        
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2> Лечебно диагностические процедуры </h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Эхоскопия (проходимость труб)</td>
                
                <td>5000с</td>
            </tr>
           
        
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2> Лечебные процедуры </h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Массаж простаты</td>
                
                <td>450с</td>
            </tr>
            <tr>
                <td>Инстилляция уретры </td>
                
                <td>300с</td>
            </tr>
            <tr>
                <td>Инстилляция мочевого пузыря </td>
                
                <td>380с</td>
            </tr>
        
        </tbody>
    </table>
</section>
<section class="pricing">
    <h2>Процедуры </h2>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
               
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Инъекции внутримышечно / подкожно</td>
                
                <td>120с</td>
            </tr>
            <tr>
                <td>Инъекции внутривеенно </td>
                
                <td>180с</td>
            </tr>
            <tr>
                <td>Внутривенная инфузия </td>
                
                <td>400с</td>
            </tr>
            <tr>
                <td>Проба на чувствительность (в/к) </td>
                
                <td>50с</td>
            </tr>
        
        </tbody>
    </table>
</section>

{% endblock %}